<!DOCTYPE html>
{% extends 'first_app/layout.html' %}
{% block content %}

    <table class="table table-striped" >
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Instrument Name</th>
            </tr>
        </thead>
        <tbody>
            {% for album in albums %}
            <tr>
                <td>{{album.name}}</td>
                <td>{{album.release_date}}</td>
                <td>{{album.num_stars}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}