<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- <h1>This is the Home Page</h1>
    <h2>{{name}}</h2>
    <img src="{% static 'images/saif.jpg' %}" /> -->
        <a href="/form/">Add New</a>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Instrument Name</th>
            </tr>
        </thead>
        <tbody>
            {% for musicion in musicions %}
            <tr>
                <td>{{musicion.first_name}}</td>
                <td>{{musicion.last_name}}</td>
                <td>{{musicion.instrument}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>