<!DOCTYPE html>
{% extends 'first_app/layout.html' %}
{% load my_filters %}
{% block content %}
    <h1>{{name | upper | custom_filter:" Saif"}}</h1>

    <table class="table table-striped" style="width:50%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Instrument Name</th>
            </tr>
        </thead>
        <tbody>
            {% for musicion in musicions %}
            <tr>
                <td>{{musicion.first_name}}</td>
                <td>{{musicion.last_name}}</td>
                <td>{{musicion.instrument}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}