{% extends 'layout.html' %}
{% load custom_filters %} 
{% block title %}{{user}} Blogs{% endblock  %}
{% block contant %}
<h1>My Blog </h1>
    {% for blog in user.post_author.all %}
    <h3>{{blog.blog_title}}</h3>
<h6>{{blog.publish_date}}</h6>
<div class="row">
    <div class="col-md-4">
        <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_image}}" width="100%" class="img-thumbnail" />
    </div>
    <div class="col-md-8">
        <p>{{blog.blog_contain|range_filter | linebreaks}}</p>
        <h6>
            <a href="">{{blog.author | upper}}</a>
        </h6>
        <a href="{% url 'Blog:blog_details' slug=blog.slug %}" style="magrin-bottom:20px"> Read More..</a>
        <a href="{% url 'Blog:edit_blog' pk=blog.id %}" class="btn btn-sm btn-info" style="magrin-bottom:20px"> Edit</a>
        <h6>{{blog.liked_blog.count}} Likes | {{blog.blog_comment.count}} Comments</h6>

    </div>
</div>
<hr>

    {% endfor %}
{% endblock  %}