<!DOCTYPE html>
{% extends 'first_app/layout.html' %}
{% block content %}
  

    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Album Name</th>
                <th>Release Date</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for album in albums %}
            <tr>
                <td>{{album.name}}</td>
                <td>{{album.release_date}}</td>
                <td>{{album.num_stars}}</td>
                <td>
                    <a href="{% url 'first_app:album_edit' id=album.id %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'first_app:album_delete' id=album.id %}" onClick="return confirm('Are you want to Delete it!')" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}