{% extends 'first_app/layout.html' %}
{% block content %}

<h3>Musician Details</h3>
<h4>Musician Name : {{musician.first_name}} {{musician.last_name}}</h4>
<h4>Instrument : {{musician.instrument}}</h4>


<h5>Album List</h5>

    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Album Name</th>
                <th>Release Date</th>
                <th>Review</th>

            </tr>
        </thead>
        <tbody>

        {% for album in musician.album_list.all %}
            <tr>
                <td>{{album.name}}</td>
                <td>{{album.release_date|date:"M d, Y"}}</td>
                <td>{{album.num_stars}}</td>

            </tr>
            {% endfor %} 
        </tbody>
    </table>
    
{% endblock %}